/*
check slyle here:
http://startbootstrap.com/template-overviews/agency/
*/

body {
    width: 100%;
    height: 100%;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: 1px;
}

html {
    width: 100%;
    height: 100%;
}

/* Sections style */

.search-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
    text-align: center;
    background-attachment: scroll;
    background-image: url(../images/search-background.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}

.meaning-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}

.retings-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}

.about-section {
    height: 97%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}

/* Navbar style */
@media (min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out;
    }

    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: rgba(51, 51, 51, 0.5);
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .top-nav-collapse {
        padding: 0;
        border-color: transparent;
        background-color: #222;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
        color: #f6bf01;
    }
}

nav {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
}

nav li, nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

nav li, nav a {
    display: inline-block;
}

nav a {
    padding: 20px;
    color: #212121;
    text-decoration: none;
}

nav a:hover {
    background: #f6bf01;
    text-decoration: none;
}

a.active {
    background: #f6bf01;
    color: #222;
}

.secondary-nav a {
    color: #222;
}

.secondary-nav {
    background-color: rgba(51, 51, 51, 0.8);
    background:
        -webkit-gradient(radial, 50% 50%, 50, 50% 50%, 310,
        from(rgba(255, 255, 255, 0.7)), to(rgba(0, 0, 0, 0)));
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333333;
    background-color: #e8e8e8;
}

.navbar-default .navbar-nav>li>a {
    color: #f6bf01;
}

.navbar-default .navbar-nav>li>a.active {
    color: #222;
}